/* 
*{
    overflow: auto;
} */

body{
    background-color: #C1E1C1;
    display: flow-root;
}

.dropdown{
    display: inline-block;
}
.dropdown button{
    width: 200px;
    height: 47px;
    background-color: #b1cbb1;
    color: #5C4033;
    padding: 10px 15px;
    border: 2px seagreen solid;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    background-color: #f6e6db;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #6F4E37;
    display: none;
    text-align: center;
}
.dropdown:hover .content{
    display: block;
}

/* medie query */

.dropdown:hover button{    /*tranzitie cu proprietate */
    background-color: #f6dfd0;
    border-color: #6F4E37;
}
.dropdown a:hover{
    background-color: #c4a189;
}

h1{
    color: #5C4033;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 356%;
    margin-top: 4%;
    margin-bottom: -1px;
}

#bara_sus{
    margin-left: 40px;
    margin-right: 40px;
    height: 0.7px;
    color: #5C4033;
    background-color: #5C4033;
}

h2{
    color: #5C4033;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 260%;
}

#about{
    font-size: x-large;
    color: rgb(77, 77, 77);
    margin: 70px;
    border: 10px #f9f4f0 solid;
    border-radius: 22px;
    padding: 20px;
}

p{
    color: rgb(77, 77, 77);
    font-family: "lucida console", "courier new";
    font-size: 14px;
    font-weight: bold;
    font-style: italic;

}

.orar{
    border: 5px solid #6F4E37;
    background-color: #f6e6db;
    min-height: 10%;
    min-width: 90%;
    align-content: center;
    margin: auto;
}


tr{
    color: rgb(77, 77, 77);
    font-size: x-large;
}

td{
    background-color: #f9f4f0;
}

th{
    background-color: #f6dfd0;
    min-width: 100px;
}

.adoptate{
    box-sizing: border-box;
    max-height: 200px;
    margin: 5px;
    border: 5px outset #96ae96;
    border-radius: 5px;
    text-align: center;
}
.rows{
    display: flex;
    background-color: #f6dfd0;
    justify-content: center;
    align-items: center;
    border: #94ab94c7 8px outset;
}
.pisiciadoptate{
    font-size: 3.69vw;
    color: #5C4033;
    margin-right: 80px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    border-bottom: #5C4033;
}


footer{
    margin-top: 6vh;
    margin-left: 36%;
    margin-right: 36%;
    display: flex;
    align-content: center;
    justify-content: center;
}

footer img{
    max-height: 70px;
    max-width: 70px;
    width: 7vw;
    height: auto;
    margin-left: 10px;
    border: 5px solid #f9f4f0;
    border-radius: 54px;
}



#adoptie{
    font-size: 198%;
}

.buton{
    height: 1%;
    background-color: #b1cbb1;
    color: #5C4033;
    padding: 10px 15px;
    border: 5px seagreen solid;
    cursor: pointer;
    border-radius: 5px;
    font-size: 106%;
}


.gif{
    background-color: #f6dfd0;
    border: #94ab94c7 8px outset;
    height: auto;
    width: 15vw;
    float: right;
    display: flex; 
    justify-content: center; 
    align-items: center;
    max-width: 100%;
    max-height: 100%;
  



    animation: twirl 5s infinite ease-in-out;
}

@keyframes twirl{
    95%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Meniu dropdown */
.dropdown button {
    width: 13vw;
    height: 5vh;
    background-color: #b1cbb1;
    color: #5C4033;
    padding: 10px 15px;
    border: 2px seagreen solid;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    display: flex;
}


.dropdown .content {
    display: none;
    position: absolute;
    background-color: #f6e6db;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown:hover .content {
    display: block;
}

/* Ajustarea și centrarea imaginilor */
.adoptate {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
}


.chenarpisica {


    display: flex;             
    justify-content: center;  
    align-items: center;    
    flex-wrap: wrap;          
    gap: 10px;                 
    background-color: #f6dfd0; 
    border: #5C4033 8px outset;
  
    overflow: auto;
}

.pozepisici {
    background-color: #f6dfd0;
    border: #94ab94c7 8px outset;


    width: 50vw;
    height: 50vh; 

    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    width: 100%;

}

.pozepisici img {
  height: 100%;
  object-fit: contain;
  background-color: #5C4033; 
  max-width: 100%; 
  max-height: 100%; 
  border: #5C4033 8px outset;
}




/* Textul descriptiv pentru fiecare pisică */

.list{
    color: #5C4033;
    border: #c4a189 8px outset;
    display: block;
    background-color: #f6dfd0;
    padding: 5.2%;
    float: left;
}

.list {
    text-align: justify;
    height: auto;
    width: 26vw;
}

.list dt{
    font-size: 180%;
    display: inline-block;
}

.list dd{
    margin-bottom: 2%;
}

.list dd:before{
    content:"-";
}

.list h3 {
    font-size: 85%; 
    color: #5C4033;
    padding-left: 20%;
}

.list dd {
    font-size: 92%; 
    margin-left: 2.2vw; 
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .rows {
        flex-direction: column;
    }
}






.container {
    display: flex;
    background-color: #c4a189;
    border: #5C4033 8px;
    border-style: outset;
  }
  
  .col {
    flex: 1; 
    padding: 10px; 
    box-sizing: border-box; 
  }
  
.description {
    color: #5C4033;
    border: #c4a189 8px outset;
    background-color: #f6dfd0;
    flex: 2;
}

.description p {
    font-size: xx-large;
}

.image-container {
    color: #5C4033;
    border: #c4a189 8px outset;
    background-color: #f6dfd0;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-bottom: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
}

.button-clicked {
    background-color: #4CAF50; 
    color: white;
}
