<!DOCTYPE html>
<html>
<head>
    <title>Cursuri student</title>
</head>
<body>
    <h1>Cursuri pentru {{ student.nume }} {{ student.prenume }}</h1>
    <p>Email: {{ student.email }}</p>
    <p>Anul inscrierii: {{ student.anul_inscrierii }}</p>

    <h2>Lista cursuri:</h2>
    <ul>
    {% for curs in student.cursuri.all %}
        <li>{{ curs.denumire }} - {{ curs.numar_credite }} credite</li>
    {% endfor %}
    </ul>
    
    <p><a href="{% url 'lista_studenti' %}">Inapoi la lista studentilor</a></p>
</body>
</html>

<!-- ex 6 -->